springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: XXXXXXXXXXXXXXXX
    password: XXXXXXXXXXXXXXXX
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  secret: change_this_to_a_long_random_key_32_chars_min
  expiration-ms: 3600000